*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EBEEEE;
    padding: 1% 1.3% 0 1.3%;
    height: 100vh; /* 추가 */
}

#header {
    height: 5%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 1%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 추가 */
    margin-bottom: 0.6%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

#header_right {
    font-size: 0.4rem;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 추가 */
}

#header_right > span {
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}

#header_left {
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
    width: 10%;
    align-items: center; /* 세로 중앙 정렬 추가 */
}

#header_left > div > i {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
}
#header_left > div:hover{
    border-radius: 50%;
    background-color: #9b9b9b;
}
/*section(중간)*/
#main_outer{
    height: 90%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#aside_outer{
    width: 3%;
    display: flex;
}
#aside{
    width: 3vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 0.6% 0;
    display: flex;
    flex-direction: column; /* 컬럼 방향으로 요소 정렬 */
    justify-content: space-between;

}
#aside>#nav>div,#setting_icon{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 37% 0;
    font-size: 0.6rem;
    color: rgb(105 105 105);
    cursor: pointer;
}
#aside>#nav>div:hover,#setting_icon:hover{
    color: black;
}

#aside_popup {
    width: 78%;
    background-color: white;
    display: none;
}
#aside_popup>div{
    color: rgb(145, 150, 155);
    font-size: 0.35rem;
    cursor: pointer;
    padding-top: 0.1rem;
}
.aside_popup_content:hover{
    
}
.aside_popup_content i:first-child{
    font-size: 0.24rem;
    margin-right: 0.27rem;
}
.aside_popup_content>span{
    margin-left: 0.1rem;
}
#aside_popup_first{
    padding-left: 0.2rem;
}
#aside_popup_second{
    padding-left: 0.6rem;
}
#aside_popup_last{
    padding-left: 1.4rem;
}
/*section(중간)*/

#section{
    background-color: #ffffff;
    border-radius: 5px;
    width: 96%;
    padding: 0.4%;
    position: relative;
}
#section_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #A1A1A1;
    align-items: center; /* 수직 가운데 정렬 추가 */
    padding: 3px 10px 8px 10px;
}
#section_header_left{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 추가 */
    color: rgb(114, 199, 255);
}
#section_header_left span,
#section_header_left div,
#section_header_left button {
    margin-right: 10px; /* 요소 간 간격 조정 */
}
#section_header_left>span,#section_header_left>button{
    font-size: 0.36rem;
    color: rgb(114, 199, 255);
}
#section_header_left>div{
    font-size: 0.8rem;
}


/*article*/
#section_header_right{
    display: flex;
    justify-content: space-between;
    margin: 0.9% 0;
}

/*nav*/
#article_nav{
    display: flex;
    justify-content: right;
}
#article_nav>button{
    margin: 0 5px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 9px;
    font-size: 0.3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #EBEBEB;
    border: 1px solid #A1A1A1;

}
#article_nav>div>button{
    padding: 0 7px;
}
#article_nav>div{
    font-weight: 600;
    padding: 0 6px;
    display: flex;
    font-size: 0.3rem;
}
#article_nav>div>button{
    height: 100%;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.3rem;
}
#article_nav>div>a{
    display: block;
    background-color: #EBEBEB;
    border: 1px solid #A1A1A1;
    padding: 4px 10px;
    border-left: none;
}
#article_nav button i{
    margin-right: 3px;
}
#popup_btn {
    position: relative; /* 부모 요소에 대해 상대적인 위치 설정 */
}

#popup_box {
    width: 210px;
    position: absolute;
    background-color: white;
    top: 116% ; /* 부모 요소에 대해 상대적인 위치 사용 */
    right: 0;
    display: none;
    border: 1px solid #DDDDDD;
    color: #4F4F4F;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: left;
}

#popup_box>div{
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}

#popup_box>div>div{
    padding: 10px 4px;

}
#popup_box>div>div:hover{
    background-color: #DDDDDD;
}

#out_btn{
    position: relative;
}
#out_btn_popup{
    position: absolute;
    width: 12vw;
    border: 1px solid rgb(190, 190, 190);
    top: 113%;
    left: 0px;
    text-align: left;
    background-color: white;
}
#out_btn_popup>div{
    padding: 3%;
    font-size: 0.3rem;
    font-weight: 400;
    color: #858585;
}
#out_btn_popup>div:hover{
    background-color: #e9f4fc;
}
/*content_outer*/
#content_outer,
#network_outer,
#disk_outer,
#snapshot_outer,
#application_outer,
#pregroup_outer,
#pregroup_lable_outer,
#guest_info_outer,
#power_outer,
#event_outer
{
    width: 100%;
    display: flex;
    padding-top: 1%;
}

.content_header{
    border-right: 1px solid #dddddd;
    margin-right: 1%;
}
.content_header_left {

    font-size: 0.65rem;
    border-radius: 3px;
}

.content_header_left div {
    margin-right: 33px;
    position: relative;
    font-size: 0.4rem;
    cursor: pointer;
    color: black;
    padding: 0.3rem 0;
}

.content_header_left div.active {
    color: rgb(114, 199, 255);
    font-weight: 600;
}

.content_header_left div.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: rgb(114, 199, 255);
}

.content_header_right {
    display: flex;
    align-items: center;
}

.content_header_right button {
    margin-right: 9px;
    font-size: 0.4rem;
    padding: 0.1rem 0.1rem;
    cursor: pointer;
    font-size: 0.3rem;
    font-weight: 600;
    background: #dff7ff;
    border: 1px solid rgb(114, 199, 255);
}
/*content_header_popup*/
.content_header_popup_btn{
    position: relative;
}
.content_header_popup{
    position: absolute;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    font-size: 0.32rem;
    right: 0%;
    top: 130%;
    font-weight: 400;
    min-width: 1500%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.content_header_popup>div{
    padding: 2% 3%;
    
}
.content_header_popup>div:hover{
    background-color: #ececec;
}
.content_header_popup>div:first-child,
.content_header_popup>div:nth-child(4){
    color: #a5a5a5;
}
/*content_info*/
.tables{
    display: flex;
    justify-content: space-between;
    width: 86%;
    padding: 0 2%;
}
.table_container_left,.table_container_center,.table_container_right{
   /* margin: 20px;*/
   width: 31%;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table th, .table td {
    padding: 6px;
    vertical-align: top;
    border: none; 
    font-size: 0.32rem;
}

.table th {
    text-align: left;
    font-weight: bold;
}
.empty{
    color: white;
}
.table td {
    text-align: left;
    color: #757575;
}
/*네트워크 인터페이스*/
.network_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.34rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    cursor: pointer;
}
.content_buttons{
    display: flex;
    justify-content: right;
}
.content_buttons>button{
    padding: 0.25%;
    margin-right: 0.6%;
    font-size: 0.34rem;
}
.network_content:hover{
    background-color: #c7ebfc;
}
.network_content>div:first-child{
    padding: 0.5rem 0.3rem;
}
.network_content i{
    color: #757575;
    padding: 0.05rem;
}
.network_content i:first-child{
    padding-right: 0.3rem;
    border-right: 1px solid #757575;
    font-size: 0.2rem;
}
.network_content>div:nth-child(n+2){
    text-align: center;
    padding-top: 0.4rem;
}
.network_content>div>div:nth-child(2){
    font-size: 0.27rem;
    color:#4F4F4F;
}
/*네트워크 인터페이스 팝업창들*/
    /*새로만들기*/
.network_popup_outer{
    display: none;
    position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.network_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 70%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

.network_popup_header{
    background-color: #ebebeb;
    display: flex;
    padding: 8px 13px;
    justify-content: space-between;
    font-size: 0.18rem;
}
.network_popup_header>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.network_popup_header>button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    border: none;
    padding: 11px;
    border-radius: 50%;
    font-size: 0.38rem;
    cursor: pointer;
    background-color: #ebebeb;
}
.network_popup_header>button:hover{
    background-color: #DDDDDD;
}
.network_popup_content{
    height: 60%;
    padding: 1% 2%;
    font-size: 0.35rem;
}
.network_popup_content>div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.3%;
}

.select_box select,
.input_box input{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}
.select_box2>div:last-child,
.plug_radio_btn>div{
    width: 47%;
}
.select_box2 select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}
.radio_outer>div{
    width: 100%;
    display: flex;
    justify-content: left;
}
.radio_outer input{
    cursor: pointer;
}
.radio_outer input, .radio_outer img{
    margin-right: 0.3rem;
}
.plug_radio_btn span{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
#network_parameter_outer{
    padding: 1% 2%;
    font-size: 0.35rem;
}
#network_parameter_outer>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.3rem;
}
#network_parameter_outer>div{
    display: flex;
    justify-content: space-between;
}
#network_parameter_outer>div>div:nth-child(-n+2){
    display: flex;
    width: 30%;
    justify-content: space-between;
}
#buttons{
    width: 5%;
    display: flex;
    justify-content: space-between;
}
#buttons>button{
   width: 50%;
   font-size: 0.4rem;
   font-weight: 600;
   cursor: pointer;
}
/*디스크(disk_content)*/
#disk_content {
    width: 86%;
    overflow-x: auto;
}
.disk_content_header{
    display: flex;
    font-size: 0.3rem;
    padding-bottom: 0.3rem;
}
.disk_content_header span{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-right: 0.5%;
    font-size: 0.35rem;
}
.disk_content_header button {
    padding: 0.3%;
    cursor: pointer;
    font-size: 0.3rem;
}

#disk_content table {
    width: 100%;
    border-collapse: collapse;
}
#disk_content thead>tr{
    background-color: #c7ebfc;
}
#disk_content th, #disk_content td {
    border: 1px solid #ccc;
    text-align: left;
    font-size: 0.3rem;
    padding: 0.4%
}

#disk_content td:first-child,
#disk_content td:nth-child(3),
#disk_content td:nth-child(4),
#disk_content td:nth-child(5),
#disk_content th:first-child,
#disk_content th:nth-child(3),
#disk_content th:nth-child(4),
#disk_content th:nth-child(5)
{
    text-align: center;
}
#disk_content tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#disk_content tbody td {
    white-space: nowrap;
}
/*디스크팝업*/
    /*새로만들기*/
.disk_popup_outer{
    display: none;
    position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.disk_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 90%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
#disk_new_nav{
    padding: 0.35rem;
    font-size: 0.3rem;
    display: flex;
}
#disk_new_nav>div{
    border: 1px solid rgb(122, 122, 122);
    background-color: #e9e9e9;
    padding: 0.09rem;
    cursor: pointer;
}
#disk_new_img{
    display: flex;
    padding: 0 0.35rem;
    font-size: 0.33rem;
}
#disk_new_img_left{
    width: 50%;

}
#disk_new_img_left>div{
    display: flex;
    justify-content: space-between;
}
.img_input_box,.img_select_box{
    padding-bottom: 0.5rem;
}
.img_input_box span,.img_select_box label{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.img_input_box input, .img_select_box select{
    width: 55%;
    height: 3.5vh;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
    outline: none;
}
#disk_new_img_right {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
#disk_new_img_right div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.13rem;
}
#disk_new_img_right label {
    margin-left: 0.2rem;
}
/*스냅샷*/
#snapshot_content_outer,#network_content_outer{
    width: 86%;
}
.snapshot_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.34rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 1% 0;
    cursor: pointer;
}
.snapshot_content:hover{
    background-color: #e9e9e9;
    border-left: 2px solid rgb(161, 161, 161);
}
.snapshot_content_left{
    color: #4F4F4F;
    width: 15%;
    display: flex;
}
.snapshot_content_left>div{
    border-radius: 50%;
    padding: 3%;
    background-color: #dbdbdb;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-right: 10%;
}
.snapshot_content_left span{
    font-weight: 600;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.snapshot_content_left i{
  margin-top: 1px;
}
.snapshot_content_right{
    color: #4F4F4F;
    display: flex; 
    justify-content: right;
    width: 60%;
}
.snapshot_content_right>div{
    margin-left: 4%;
    font-size: 0.34rem;
}
/*애플리케이션*/
#application_content{
    width: 86%;
    
}
.application_content_header{
    display: flex;
    font-size: 0.4rem;
    margin-bottom: 0.3rem;
}
.application_content_header>div,.application_content_header>button{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.application_content_header>div{
    padding: 0 0.3%;
}
.application_content_header>button{
    padding: 0.5%;
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
}
#application_content table,.pregroup_content table {
    width: 100%;
    border-collapse: collapse;
}
.pregroup_content{
    width: 86%;
}
#application_content th, #application_content td,
.pregroup_content th, .pregroup_content td
 {
    border: 1px solid #ddd;
    font-size: 0.3rem;
    padding: 8px;
    text-align: left;
}
#application_content td,.pregroup_content td{
    cursor: pointer;
}
#application_content td:hover,.pregroup_content tbody tr:hover{
    background-color: rgb(233, 233, 233);
}
#application_content thead th,.pregroup_content thead th{
    background-color: #ffe3e3;
    font-weight: bold;
}
/*권한*/
#power_outer span{
    margin-right: 0.2rem;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
#power_outer table tr td:first-child,#event_outer tr td:first-child{
    text-align: center;
}
.fa-times{
    color: red;
}
.fa-check{
    color: rgb(57, 245, 57);
}
.fa-exclamation{
    color: orange;
}
 /*footer*/
 #footer_outer {
    font-size: 0.34rem;
    width: 100%;
    left: 0;
    max-height: 30%;
    position: absolute;
    bottom: 0;

}
#footer{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: 4.3vh;
    display: flex;

}
#footer>button{
    height: 4.3vh;
    width: 2%;
    color: #4F4F4F; 
    cursor: pointer;
    
}
#footer>button>i{
    font-size: 0.3rem;
    display: block; 
    margin: 0 auto; 
    text-align: center;
}
#footer>div{
    display: flex;
}
#footer>div>a{
    font-weight: 600;
    display: block;
    cursor: pointer;
    margin-top: 8px;
}
#footer>div>a:first-child{
    margin: 8px 30px 0 15px;
    border-bottom: 2px solid blue;
    color: black;
}
#footer>div>a:nth-child(2){
    color: #4F4F4F;
}
#footer_content{
    height: 100%;
    display: none;
    background: white;
}
#footer_nav{
    display: flex;
    width: 100%;
    padding: 5px 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 18px;
}
#footer_nav>div{
    display: flex;
    width: 15%;
    justify-content: space-between;
    border-right: 1px solid #4F4F4F;
    padding: 2px 5px;
    color: #4F4F4F;
}
#footer_img{

    width: 11%;
    margin: 0 auto;
}
#footer_img>img{
    margin: 0 auto;
    display: block;
}
#footer_img>span{
    text-align: center;
    display: block;
    font-size: 0.33rem;
    margin-top: 3px;
}

/*편집팝업*/
/*템플릿 생성*/

.domain_header{
    background-color: #ebebeb;
    display: flex;
    padding: 8px 13px;
    justify-content: space-between;
    font-size: 0.18rem;
}
.domain_header>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.domain_header>button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    border: none;
    padding: 11px;
    border-radius: 50%;
    font-size: 0.38rem;
    cursor: pointer;
    background-color: #ebebeb;
}
.domain_header>button:hover{
    background-color: #DDDDDD;
}
#template_article_outer{
    padding: 0 3%;
    font-size: 0.36rem;
    margin-bottom: 3vh;
}
.template_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2%;
}
.template_content>span{
    display: block;
    color: #4F4F4F;
}
.template_content>input,.template_content>select{
    width: 70%;
    border: 1px solid gray;
    height: 3.5vh;
    outline: none;
    font-size: 0.35rem;
}
#template_article_outer2{
    height: 46%;
}

#template_boxs_header{
    display: flex;
    justify-content: space-between;
    font-size: 0.35rem;
    font-weight: 600;
    background-color: rgb(219, 219, 219);
}
#template_boxs_header>div{
    width: 25%;
    padding: 0.5%;
    border-right: 1px solid rgb(151, 151, 151);
}
#template_boxs_nav{
    display: flex;
    font-size: 0.35rem;
    justify-content: space-between;
}

#template_boxs_nav>div{
    width: 25%;
    padding: 0.5%;
    margin: 2px;

}
#template_boxs_nav>div:first-child{
    border: 1px solid rgb(170, 170, 170);
    height: 100%;
    border-radius: 2px;
}
#template_boxs_nav>select{
    display: block;
    width: 25%;
    height: 100%;
    padding: 0.8%;
    margin: 2px;
    font-size: 0.35rem;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
}

#template_article_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.36rem;
}
.checkbox-group {
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    margin-right: 3px;
}
#template_article_footer > div > div {
    padding: 1%;
}

#template_article_outer2 > span {
    font-size: 0.35rem;
    font-weight: 600;
}

/*편집버튼 팝업*/
#edit_popup_bg{
    display: none;
    position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#edit_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 87%;
    width: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/

}
.edit_header{
    background-color: #ebebeb;
    display: flex;
    padding: 8px 13px;
    justify-content: space-between;
    font-size: 0.18rem;
}
.edit_header>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_header>button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    border: none;
    padding: 11px;
    border-radius: 50%;
    font-size: 0.38rem;
    cursor: pointer;
    background-color: #ebebeb;
}
.edit_header>button:hover{
    background-color: #DDDDDD;
}
/*중간*/
.edit_body{
    height: 84%;
    font-size: 0.36rem;
}
.edit_aside {
    width: 100%;
    height: 7%;
    background-color: #FAFAFA;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.edit_aside > div {
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    border-bottom: none; /* 이 줄을 추가하여 기본 테두리를 제거 */
    cursor: pointer;
    outline: none; /* 이 줄을 추가하여 기본 outline을 제거 */
}

.edit_aside > div span {
    font-size: 0.33rem;
}
.edit_footer{
    border-top: 1px solid gray;
}
form{
    width: 100%;
}
form>div
{
    font-size: 0.32rem;

}
.edit_first_content{
    border-bottom: 1px solid #cecece;
}
.edit_first_content>div:first-child{
    padding: 2% 2% 5% 2%;
}
.edit_first_content>div{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
}
.edit_first_content>div:first-child{
    position: relative;
}
.edit_first_content>div>div{
    position: absolute;
    top: 62%;
    right: 32.5%;
    font-style: italic;
}
.edit_first_content select{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.edit_second_content>div,#host_third_content>div{
    display: flex;
    justify-content: space-between;
    padding: 2.3% 2% 0 2%
}
.edit_second_content input,
#time_offset,
#host_third_content>div:nth-child(n+2) select,
.cpu_res>div select,
.cpu_res input
{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
#host_third_content>div:nth-child(n+2) select{
    font-weight: 600;
    font-size: 0.27rem;
}

.edit_second_content>div>div>i,
#host_third_content>div>div>i,
#ha_mode_second_content>div>div>i,
.res_second_content i
{
    color:#1ba4e4;
    cursor: pointer;
}
.edit_check_boxs{
    display: flex;
    padding: 0.2rem 0.4rem;
}
.host_checkboxs>span{
    font-weight: 600;
}
.host_checkbox{
    padding: 0.2rem 0;
}
.host_checkbox i{
    color: #1ba4e4;
    cursor: pointer;
}
.edit_check_boxs>div{
    margin-right: 0.5rem;
}
.edit_third_content{
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem;
}
.edit_third_content>div:nth-child(2),.edit_fourth_content_select>div:nth-child(2){
    display: flex;
    justify-content: right;

}
.edit_third_content button,.edit_fourth_content_select button{
    margin-right: 0.2rem;
    padding: 0.08rem 0.15rem;
    font-size: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}
.edit_fourth_content{
    padding: 0.2rem 0.4rem;

    border-top: 2px solid #cecece;
}
.edit_fourth_content>span{
    margin-bottom: 0.2rem;
    display: block;
}
.edit_fourth_content_select{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.edit_fourth_content_select>div:first-child{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.edit_fourth_content_select select{
    width: 77%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
#host_outer,
#ha_mode_outer,
#system_outer,
#res_alloc_outer,
#common_outer,
#console_outer
{
    height: 63.4vh;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}
#system_outer,#host_outer,#ha_mode_outer,#res_alloc_outer{
    display: none;
}

#host_second_content{
    padding: 2%;
}
#host_third_content{
    padding: 0 2%;
}
#host_third_content>div{
    padding: 1% 0;
}
#ha_mode_second_content{
    padding: 2%;
}
#ha_mode_second_content>div:first-child{
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2):nth-child(-n+3),.ha_mode_article>div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2) select
{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}

.ha_mode_article>span{
    font-weight: 600;
    margin-bottom: 0.7%;
    display: block;
}
/*콘솔*/
#monitor{
    width: 66%;
}
.console_checkboxs{
    
}
#monitor select{
    width: 18%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.console_checkboxs{
    padding:0.4rem;
}
.console_checkboxs>div{
    margin-bottom: 0.2rem;
}
.console_checkboxs>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#console_outer>.res_alloc_checkbox{
    padding: 0.4rem;  
}
#console_outer>.res_alloc_checkbox input{
    margin-right: 0.1rem;
}
/*리소스할당*/
.res_second_content{
    padding: 1.5%;
}

.cpu_res>div,#threads,#boot_checkboxs>div:first-child{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#cpu_sharing{
    display: flex;
    width: 47%;
    justify-content: space-between;
}

#cpu_sharing>input{
    width: 23%;
}
#threads>div:nth-child(2),#boot_checkboxs>div>div:nth-child(2){
    width: 47%;
}
#threads input[type="text"],#boot_checkboxs input[type="text"]  {
    width: 94%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
}
.res_alloc_checkbox{
    margin-bottom: 2%;
}
.res_alloc_checkbox>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#res_alloc_outer input[type="checkbox"]{
    margin-right: 0.1rem;
}
/*선호도*/
#preference_content{
    padding: 5%;
}
#preference_content>div{
    padding-bottom: 4%;
}
#preference_content>div,.preference_select>div{
    display: flex;
    justify-content: space-between;
}
#preference_content>div>div{
    width: 47%;
}
.preference_select select{
    width: 85%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.preference_select button{
    cursor: pointer;
    padding: 0 1%;
}
.pre_selected>div>a{
    background-color: #1ba4e4;
    max-width: 20%;
    height: 3vh;
    display: block;
    padding: 0 3px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.form_checks>div{
    padding: 1.8% 0 0 0;
}
.form_checks>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}
.form_checks>div:nth-child(2)>div:nth-child(2){
    width: 47%;
}
.form_checks>div:nth-child(2) select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.edit_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* 필요에 따라 배경색을 설정 */
    border-top: 1px solid #cecece;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.3%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 옵션: 그림자 추가 */
}

.edit_footer button {
    padding: 1% 2%;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 0.3rem;
    border-radius: 4px;
    font-weight: 600;
}

.edit_footer button:first-child {
    margin-right: auto; /* 왼쪽 끝으로 이동 */
}
.edit_footer button:first-child,.edit_footer button:nth-child(3){
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(122, 122, 122);
}
.edit_footer button:nth-child(2){
    background-color: rgb(46, 151, 250);
    color: white;

}